<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <!--This sends everything else to /public -->
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>external:*</mirrorOf>
            <url>https://production.eng.it/nexus/content/groups/alm-eng-esl-mirror/
            </url>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>almesl-snapshots</id>
            <username>***</username>
            <password>***</password>
        </server>
        <server>
            <id>almesl-releases</id>
            <username>***</username>
            <password>***</password>
        </server>
        <server>
            <id>nexus</id>
            <username>***</username>
            <password>***</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>almesl-snapshots</id>
                    <url>https://production.eng.it/nexus/content/repositories/snapshots/
                    </url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>almesl-releases</id>
                    <url>https://production.eng.it/nexus/content/repositories/releases/
                    </url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus</id>
                    <url>http://production.eng.it/nexus/content/groups/alm-eng-esl-mirror/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <!--make the profile active all the time -->
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>
