<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- livello di default -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- abilito DEBUG su tutti i pacchetti it.eng -->
    <logger name="it.eng" level="DEBUG"/>
</configuration>